APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#MAIL_MAILER=smtp
#MAIL_HOST=mailhog
#MAIL_PORT=1025
#MAIL_USERNAME=null
#MAIL_PASSWORD=null
#MAIL_ENCRYPTION=null
#MAIL_FROM_ADDRESS=null
#MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#FACEBOOK_ID=yourGitlabAppId
#FACEBOOK_SECRET=yourGitlabAppSecret
#FACEBOOK_REDIRECT_URL=http://yourLaravelAppUrl/login/gitlab/callback

#TWITTER_ID=yourTwitterAppId
#TWITTER_SECRET=yourTwitterAppSecret
#TWITTER_REDIRECT_URL=http://yourLaravelAppUrl/login/twitter/callback

#LINKEDIN_ID=yourLinkedinAppId
#LINKEDIN_SECRET=yourLinkedinAppSecret
#LINKEDIN_REDIRECT_URL=http://yourLaravelAppUrl/login/linkedin/callback

#GOOGLE_ID=yourGoogleAppId
#GOOGLE_SECRET=yourGoogleAppSecret
#GOOGLE_REDIRECT_URL=http://yourLaravelAppUrl/login/google/callback

#GITHUB_ID=yourGithubAppId
#GITHUB_SECRET=yourGithubAppSecret
#GITHUB_REDIRECT_URL=http://yourLaravelAppUrl/login/github/callback

#GITLAB_ID=yourGitlabAppId
#GITLAB_SECRET=yourGitlabAppSecret
#GITLAB_REDIRECT_URL=http://yourLaravelAppUrl/login/gitlab/callback

#BITBUCKET_ID=yourBitbucketAppId
#BITBUCKET_SECRET=yourBitbucketAppSecret
#BITBUCKET_REDIRECT_URL=http://yourLaravelAppUrl/login/bitbucket/callback
